* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

path {
  pointer-events: none;
}

.hidden {
  opacity: 0;
}

.not-hidden {
  opacity: 1;
}

.background-overlay {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background-image: url('./assets/UI/Val-background.png');
  background-repeat: no-repeat;
  background-position: center center;
  z-index:-1000;
}

.container {
  width: 100%;
  height: 10.2vw;
  margin:auto;
  display: flex;
  justify-content: space-between;
  font-size: 2vw;
}

.middle-container {
  color: #eee;
  opacity: .98;
  width: 20vw;
  display: block;
  font-size: .9vw;

}

.team-panel {
  width: 18.75vw;
  background-color: #111;
  height: 3vw;
  opacity: .98;
  display: flex;
  justify-content: space-between;
  color: #eee;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.maps {
  display: flex;
  height: 1.4vw;
}

.map-info {
  background-color: #111;
  height: 100%;
  width: 50%;
  text-align: center;
  border-bottom-right-radius: 0.2vw;
  border-bottom-left-radius: 0.2vw;
  display: flex;
  justify-content: center;
  
}

.bracket {
  margin-top: 3.3vw;
  height: 1.5vw;
  background-color: #111;
  width: 5.5vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5vw;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  text-align: center;
}

.team-name {
  width: 70%;
  /* overflow-wrap: break-word; */
  overflow: hidden;
}


.team-logo {
  max-height: 2vw;
}

.map-pick-logo {
  max-height: 100%;
}

.left-team {
  border-bottom-right-radius: 0.5vw;
  padding-left: 10px;
}

.right-team {
  border-bottom-left-radius: 0.5vw;
  padding-right: 10px;
  text-align: right;
} 

