/* UMass color: #6e6368 
defending team: #28ae75
attacking: #d3697b
*/
body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

.top-container {
    display: flex;
    justify-content: center;
}

.map-info {
    display: flex;
    justify-content: space-around;    
}

h1 {
    margin: 0;
    font-size: 30px;
    word-break: break-all;
}


h1.round-score {
    display: flex;
    justify-content: center;
    width: 33%;
    font-size: 2.2vw;
    height: 72px;
}

.top-info {
    width: 25%;
}

.rectangle {
    display: flex;
    height: 24px;
    width: 128px;
    align-items: center;
    justify-content: center;
    background-color: #5c404c;
    opacity: 0.75;
    font-size: 14px;
    font-weight: bold;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.rectangle > img {
    width: 20px;
}

.match-info {
    display: flex;
    justify-content: center;
    width: 50%;
    /* text-align: center; */
    font-family: 'Oswald', sans-serif;
    /* font-weight: 700; */
    /* font-stretch: condensed; */
}

.team-logo {
    width: 50px;
    max-height: 35px;
}

.name-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43%;
    height: 70px;
}

.map-score {
    display: block;
}

.map-score > div {
    margin-top: 8px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: #fffdfe;
    /* box-shadow: #aa9fa5; */
    position: relative;
}

.attack-map-win {
    background-color: #dd2a4e;
}

.defense-map-win {
    background-color: #2fda92;
}

.left-team {
    display: flex;
    width: 40%;
}

.left-team .name-logo {
    margin-left: 16%;
    margin-right: 8%;
}

#round-time {
    width: 20%;
}

.right-team {
    display: flex;
    width: 40%;
    /* margin-top: 10px;
    margin-left: 50px; */
}


.right-team .name-logo {
    margin-left: 8%;
    margin-right: 16%;
}

#top-bar {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 96px;
    background-image: url("./assets/UI/top_bar.png");
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.bottom-container > div {
    display: block;
    width: 390px;
    opacity: 95%;
}

.right-players {
    transform: scaleX(-1);
}

.player {
    display: flex;
    width: 390px;
    height: 100px;
    background-image: url("./assets/UI/leftPlayerBar.png");
}

.agent {
    width: 94px;
    margin-top: 5px;
}

.abilities {
    margin-top: 10px;
    height: 60%;
    width: 75%;
    display: flex;
    flex-direction: row;
}

.abilities img {
    width: 45%;
}

.abilities > div {
    width: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.available-ability {
    border-color: #eee;
    border-width: 2px;
    transform: rotate(90deg);
    background-color: #eee;
}

.unavailable-ability {
    border-color: #eee;
    border-width: 2px;
    transform: rotate(90deg);
    background-color: #eee;
}

.weapon {
    height: 40%;
    width: 20%;
}

.defending-hp {
    background-color: #3cd190;
    height: 10px;
    width: 200px;
}

.attacker-hp {
    background-color: #c71e2f;
    height: 10px;
    width: 200px;
}

.unusable-ability {
    opacity: 60%;
}